@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* @import 'aos/dist/aos.css'; */


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
  }



@layer components{
    .link{
        @apply cursor-pointer font-semibold
    }
}

.customColor{
    background-color:  #E0778C66;
}

    
.text-shadow-xs {
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.25);
}

.shaking-emoji {
    font-size: 2rem;
    animation: shake 0.5s infinite; /* Apply the shake animation */
}

.marc-font {
    font-family: 'Marcellus SC', serif;
}

.orbitron-font {
    font-family: 'Orbitron', sans-serif;
}

.kaushan-font {
    font-family: 'Kaushan Script', cursive;
}

/* TextWithStroke.css */
.text-with-stroke {
    text-shadow:
      -1px -1px 2px #000, /* Top-left */
      1px -1px 2px #000,  /* Top-right */
      -1px 1px 2px #000,  /* Bottom-left */
      1px 1px 2px #000;   /* Bottom-right */
  }
  
.poppins-font {
    font-family: 'Poppins', sans-serif;
}

.fatface-font {
    font-family: 'Abril Fatface', serif;
}

.bodoni-font {
    font-family: 'Bodoni Moda', serif;
}

.cute-font{
    font-family: 'Cute Font', sans-serif;
}

.macondo-font{
    font-family: 'Macondo', cursive;
}